<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net45" />
  <package id="Costura.Fody" version="3.2.1" targetFramework="net45" />
  <package id="Fody" version="3.3.5" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="YamlDotNet" version="5.3.0" targetFramework="net45" />
</packages>